
body {
    background: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    overflow-x: hidden;
}


/*---------------------------------------
    Typography
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.5px;
}

h1 {
    font-size: 62px;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

h2 {
  font-size: 32px;
  line-height: 46px;
}

h3 {
  font-size: 26px;
}

h4 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
}

p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}

strong {
  font-weight: 400;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}


/*---------------------------------------
    General styles
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4d638c;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #4d638c;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Place your custom styles in the respective sections. feel free to edit/remove the following comments */


/*---------------------------------------
    Main Navigation
-----------------------------------------*/
.navbar{
  padding-top: 5%;
  padding-bottom: 5%;
  border-color: transparent;

}
div.navbar{
  background: #ffffff;
}
i.fa{
  color: black;
  font-size:220%;
  text-align: right;
}




/*---------------------------------------
    Home section
-----------------------------------------*/
div.col-md-12{
  text-align: center;
}
div.col-md-12 hr{
  width: 8%;
}

/*---------------------------------------
   Portfolio section
-----------------------------------------*/
.portfolio-thumb {
  position: relative;
  padding: 3%;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2d2d2d;
}

.portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.8;
}

.portfolio-item {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



/*---------------------------------------
   Single Project section
-----------------------------------------*/

/*---------------------------------------
   About section
-----------------------------------------*/
div.section-title{
  text-align: center;
}
img.img-responsive{

}
hr.sizereducedhr{
  width: 8%;
}


/*---------------------------------------
   Contact section
-----------------------------------------*/




/*---------------------------------------
   Blog section
-----------------------------------------*/



/*---------------------------------------
   Blog Single Post section
-----------------------------------------*/



/*---------------------------------------
   Footer section
-----------------------------------------*/
footer{
  padding-top: 5%;
  padding-bottom: 5%;
}
div.clearfix{
  padding-bottom: 3%;
}
div.clearfix hr{
  border-color: transparent;
}

/*---------------------------------------
   Social icon
-----------------------------------------*/
ul.social-icon {
	align-items: center;
  text-align: center;
}
ul.social-icon li {
  padding-right: 1%;
  display: inline;
}


/*---------------------------------------
   Mobile Responsive
-----------------------------------------*/
